services:
    wordpress:
        image: wordpress:php8.4
        ports:
            - 82:80
        environment:
            WORDPRESS_DB_HOST: '${DB_HOST}'
            WORDPRESS_DB_NAME: '${DB_NAME}'
            WORDPRESS_DB_USER: '${DB_USERNAME}'
            WORDPRESS_DB_PASSWORD: '${DB_PASSWORD}'
        volumes:
            - ./public:/var/www/html

    mariadb:
        image: mysql:latest
        environment:
            MYSQL_DATABASE: '${DB_NAME}'
            MYSQL_USER: '${DB_USERNAME}'
            MYSQL_PASSWORD: '${DB_PASSWORD}'
            MYSQL_ROOT_PASSWORD: '${DB_ROOT_PASSWORD}'
        ports:
            - 3302:3306

    phpmyadmin:
        image: phpmyadmin
        environment:
            PMA_HOST: '${DB_HOST}'
            PMA_USER: '${DB_USERNAME}'
            PMA_PASSWORD: '${DB_PASSWORD}'
        ports:
            - 802:80